<link rel="stylesheet" href="./stylesheets/home.css">

<nav>
    <div class="nav-wrapper white z-depth-3 nav-bar">
      <a href="" class="brand-logo black-text flow-text">SEC</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars" style="color: black"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn_home_head btn  deep-orange accent-4 flow-text" href="">consultas</a></li>
        <li><a class="btn_home_head btn  deep-orange accent-4 flow-text" href="">*</a></li>
        <li><a class="btn_home_head btn  deep-orange accent-4 flow-text" href="">*</a></li>
        <li><a class="btn_home_head btn  deep-orange accent-4 flow-text" href="">*</a></li>
        <li><a class="btn_logout btn grey darken-1" href=""><i class="fas fa-user"></i></a></li>
      </ul>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a class="flow-text" href="">consultas</a></li>
    <li><a class="flow-text" href="">*</a></li>
    <li><a class="flow-text" href="">*</a></li>
    <li><a class="flow-text" href="">*</a></li>
  </ul>

  <script src="./javascripts/home.js"></script>