<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/sec.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/49e9f08ff3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./materialize/materialize.min.css">

</head>

<body>
  {{{body}}}
  <script src="./materialize/materialize.min.js"></script>
</body>

</html>